# Ignore all .DS_Store
*.DS_Store
# Matlab variables
*.mat
!Brief-AC/results/SUB-01_pilot-2_right.mat

# Ignore Matlab's autosave files
*.asv

# Old-s
~old/

# Python and Jupyter
.ipynb_checkpoints
__pycache__
*.pyc

